body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

p {
	margin: 0;
}

ul {
  padding: 0;
  margin: 0;
	list-style-type: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.clearfix {
  &:after, &:before {
    content: '';
    clear: both;
    display: block;
  }
}

 .icon {
   width: 1em;
   height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
